.weatherBox-cont {
  height: 400px;
  /* margin: auto; */

  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.inactiveCard {
  display: none;
}

.activeCard {
  display: block;
}

.preview-card,
.next-card {
  display: none;
}

@media (max-width: 1200px) {
  .weatherBox-cont {
    width: 40%;
    height: 350px;
    margin: auto;
    padding-left: 450px;
    background-color: blueviolet;
    background-color: #333;
    overflow-x: auto;
    white-space: nowrap;
    gap: 20px;
  }
  .weatherBox-cont::-webkit-scrollbar {
    display: none;
  }

  .preview-card {
    display: block;
    position: absolute;
    color: #fff;
    font-size: 50px;
    top: 40%;
    left: 0;
    cursor: pointer;
  }
  .next-card {
    display: block;
    position: absolute;
    color: #fff;
    font-size: 50px;
    top: 40%;
    left: 96%;
    cursor: pointer;
  }
}
