.weatherBox-cont {
  height: 400px;
  /* margin: auto; */

  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.inactiveCard {
  display: none;
}

.activeCard {
  display: block;
}

.preview-card,
.next-card {
  display: none;
}

@media (max-width: 1200px) {
  .weatherBox-cont {
    width: auto;
    /* width: 40%;
    height: 350px;
    margin: auto;
    padding-left: 450px;
    background-color: blueviolet;
    background-color: #333;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    white-space: nowrap;
    gap: 20px; */
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
    overflow-x: scroll;
    justify-content: center;
    height: 400px;
  }
  .weatherBox-cont::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 800px) {
  .weatherBox-cont {
    width: auto;
    /* width: 40%;
    height: 350px;
    margin: auto;
    padding-left: 450px;
    background-color: blueviolet;
    background-color: #333;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    white-space: nowrap;
    gap: 20px; */
    display: grid;
    grid-auto-flow: row;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: center;
    height: 600px;
  }
  .weatherBox-cont::-webkit-scrollbar {
    display: none;
  }
}
