.weatherBox-cont {
  height: 400px;
  /* margin: auto; */

  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
}

.inactiveCard {
  display: none;
}

.activeCard {
  display: block;
}

.preview-card,
.next-card {
  display: none;
}

@media (max-width: 750px) {
  .weatherBox-cont {
    display: grid;
    grid-auto-flow: row;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    justify-content: center;
    height: 600px;
  }

  .weatherBox-cont::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 751px) and (max-width: 1200px) {
  .weatherBox-cont {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    justify-content: left;
    height: 300px;
  }
  .weatherBox-cont::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 1201px) {
  .weatherBox-cont {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
    overflow-x: hidden;
    justify-content: space-evenly;
  }
} ;
